<%- include("../partials/header") %>
<style>
    body {
        background-image: url(<%=campgrounds[Math.floor(Math.random() * campgrounds.length)].image%>);
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container ">
        <h1 class="display-4"><span id="welcome-message">Welcome to YelpCamp</span></h1>
        <div class="d-flex justify-content-center">
            <p><a class="btn btn-primary btn-lg " href="/campgrounds/new">Add new Campground</a></p>
        </div>
    </div>
</div>

    <div class="row text-center">
        <% campgrounds.forEach(function (campground) { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card index-thumbnail">
                    <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

<!--<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $("#mainNavbar");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
    });
</script>-->

    <%- include("../partials/footer") %>
