<%- include("../partials/header") %>
<%- include("../partials/mapbox") %>

<div class="row ">
    <div class="col-md-3">

        <div class="thumbnail">
            <div id='map'><%= campground.coordinates %></div>
            <div class="caption">
                Your Campground's approximate location
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>" alt="campground.name">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4><a href="">Welcome to <span id="campground-name"><%= campground.name %></span></a></h4>
                        <p class="float-right">$<%= campground.price %>/night</p>
                    </div>
                    <p><%= campground.description %></p>
                    <p class="card-text"><%= campground.description %></p>
                    <footer><p><em>Submitted by: <%= campground.author.username %>
                                , <%= moment(campground.createdAt).fromNow() %></em></p></footer>
                    <% if(currentUser && campground.author._id.equals(currentUser._id)){ %>
                        <a id="edit-button" href="/campgrounds/<%= campground._id %>/edit"
                           class="btn btn-sm btn-warning">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="card col-12">
                <div class="mt-1 d-flex flex-row">
                    <p><a class="btn btn-success btn-sm" href="/campgrounds/<%= campground._id %>/comments/new">Add New
                            Comment</a></p>
                </div>


                    <% campground.comments.forEach(function (comment) { %>
                        <div class="comment row mb-2">
                            <div class="col-10">
                                <strong><p class="mb-0"><%= comment.text %></p></strong>
                                <span>by <%= comment.author.username %></span>
                                <em><span><%= moment(comment.createdAt).fromNow() %></span></em>
                            </div>
                            <div class="col-2">
                                <div class="float-right">
                                    <% if(currentUser && comment.author._id.equals(currentUser._id)){ %>
                                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                           class="btn btn-sm btn-warning">Edit</a>
                                        <form class="delete-form"
                                              action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                              method="POST">
                                            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
            </div>
        </div>
    </div>
</div>

<a href="/campgrounds">Campgrounds index</a>

<script src="/javascripts/scripts/populateMap.js"></script>
<%- include("../partials/footer") %>